@import "~bootstrap/scss/bootstrap";

.jumbotron {
  background-image: url('../assets/abigail-keenan-8-s5QuUBtyM-unsplash-1.jpg');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  height: 80vh;
  width: 95vw;
  color: white;

  .jumbo-div {
    display: flex;
    justify-content: center;

    h1 {
      padding-top: 50px;
      font-size: 100px;
    }
  }
}


.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    width: 18rem;
  }
}

.show-image {
  width: 18rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


